################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/StaffLeonov/.vs/StaffLeonov/v15
/StaffLeonov/bin/Debug
